##here are four fondamental ways to define a variable

1.Direct Assignment

In [1]:
y = 324.3
salutation = "good morning"
x = 42

In [2]:
print(x)
print(y)
print(salutation)

42
324.3
good morning

In [3]:
print(x,y,salutation)

42 324.3 good morning

2.multiple assignment

In [4]:
x = y = 10
print(x)
print("=======================")
print(y)

10
=======================
10

3.Parallel assignment

In [5]:
x, y = 6, 6.45

In [6]:
print(x,y)

6 6.45

4.Assignment from Expressions

In [7]:
z1 = x + y  
z2 = x + 3 
z3 = 4 * y  

print(z1,z2,z3)

12.45 9 25.8

### Naming Conventions

Naming conventions for different elements of code are important because they provide additional information to developers about the nature of certain attributes or variables. The conventions for variable names are as follows:

   - Reserved keywords such as if, else, etc., cannot be used as variable names.
   - Variable names can start with _, $, or a letter.
   - Variable names can be in lowercase or uppercase.
   - Variable names cannot start with a digit.
   - White spaces are not allowed in variable names.

A good programmer naturally strives to choose the most meaningful variable names possible.
In Python, there are 33 reserved keywords,

To get the list of reserved keywords in Python, you can use the `keyword` module. Here‚Äôs how you can do it:

1. **Import the `keyword` module**:
   ```python
   import keyword
   ```

2. **Use the `keyword.kwlist` attribute to get the list of keywords**:
   ```python
   print(keyword.kwlist)
   ```

3. **To check if a specific word is a keyword**:
   ```python
   print(keyword.iskeyword('if'))  # Returns True
   print(keyword.iskeyword('my_var'))  # Returns False
   ```

The `keyword.kwlist` attribute returns a list of all reserved keywords in Python, and the `keyword.iskeyword()` function checks if a given string is a keyword.

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
print(keyword.iskeyword('if'))  
print(keyword.iskeyword('my_var'))

True
False

##A Fundamental Exercise: Swapping the Contents of Two Variables

    Let's assume that the variables x and y have the values of integers ùõº and ùõΩ respectively. The goal is to swap the contents of these two variables.

        a. First Method: Propose a method that uses an auxiliary variable tmp.

           tmp = x
           x = y
           y = tmp

        b. Second Method: Execute the following sequence of instructions:

           x = x + y; y = x - y; x = x - y  

        c. Third Method (the most "Pythonic"): Use parallel assignment.

           x, y = y, x

In [13]:
# First Method

x = 2
y = 8
print(x, y)
print("================================================")
print('\t')

tmp = x
x = y
y = tmp
print(x, y)

2 8
================================================

8 2

In [14]:
# Second Method

x = 4
y = 6
print(x, y)
print("================================================")
print('\t')

x = x + y; y = x - y; x = x - y
print(x, y)

4 6
================================================

6 4

In [15]:
# Third Method

x = 100
y = 80
print(x, y)
print("================================================")
print('\t')

x, y = y, x
print(x, y)

100 80
================================================

80 100

In [ ]:
# x = 40 # Define a variable x
print(x)

del x   # Delete the variable x
print(x)

# 2. Type of a Variable

In [20]:
#1.NONE
x = None
print(x, type(x))

None <class 'NoneType'>

In [21]:
#2.String Types (str)
name = 'Calvin'
quote = "Calvin'n'Hobbes"
multi_line = '''Two
lines'''

In [24]:
print(name)
print(quote)
print(multi_line)

Calvin
Calvin'n'Hobbes
Two
lines

In [25]:
type(name)

str

In [26]:
name = 'Calvin'
quote = "Calvin'n'Hobbes"
multi_line = '''Two
lines'''

print(name, type(name), '\n')
print('====================================')

print(quote, type(quote),'\n')
print('====================================')


print(multi_line, type(multi_line))
print('====================================')

Calvin <class 'str'>

====================================
Calvin'n'Hobbes <class 'str'>

====================================
Two
lines <class 'str'>
====================================


# 2.2. Numeric Types

In [27]:
#0. Booleans (`bool`)
is_active = True
has_permission = False


print(is_active, type(is_active), '\n')
print('====================================')

print(has_permission, type(has_permission), '\n')

True <class 'bool'>

====================================
False <class 'bool'>

In [28]:
#1. Integers (int)
age = 27
negative_number = -40

print(age, type(age), '\n')
print('====================================')
print(negative_number, type(negative_number))

27 <class 'int'>

====================================
-40 <class 'int'>

In [29]:
#2. Reals (float)
pi = 3.14159
temperature = -2.9


print(pi, type(pi), '\n')
print('====================================')
print(temperature, type(temperature))

3.14159 <class 'float'>

====================================
-2.9 <class 'float'>

In [30]:
#3. Complex (complex)
z = 2 + 1j
w = complex(3, -4)

print(z, type(z))
print('====================================')
print(w, type(w))

(2+1j) <class 'complex'>
====================================
(3-4j) <class 'complex'>

# 3. Iterable Objects

In [34]:
#0. Lists (list)#A list is an ordered collection of items that can be of different types. Lists are mutable, meaning their contents can be changed after creation.
fruits = ['apple', 'banana', 'orange']
mixed = [1, 'two', 3.0, [4, 5]]


print(fruits, type(fruits))
print('====================================')
print(mixed, type(mixed))

['apple', 'banana', 'orange'] <class 'list'>
====================================
[1, 'two', 3.0, [4, 5]] <class 'list'>

In [35]:
#1. Immutable List#s (tuple)#A tuple is similar to a list but is immutable, meaning its contents cannot be changed after creation. Tuples are often used to store collections of related data.
coordinates = (10.7, 20.9)
colors = ('red', 'green', 'blue')

print(coordinates, type(coordinates))
print('====================================')
print(colors, type(colors))

(10.7, 20.9) <class 'tuple'>
====================================
('red', 'green', 'blue') <class 'tuple'>

In [36]:
#2. Keyed Lists (dict)#A dictionary is a collection of key-value pairs, where each key is associated with a value. Dictionaries are mutable and allow for fast lookup of values based on their keys.


person = {'name': 'Alice', 'age': 30}
inventory = {'apples': 10, 'bananas': 20}


print(person, type(person))
print('====================================')
print(inventory, type(inventory))

{'name': 'Alice', 'age': 30} <class 'dict'>
====================================
{'apples': 10, 'bananas': 20} <class 'dict'>

In [37]:
# 3. Unordered Sets of Unique Elements (set)#A set is an unordered collection of unique elements. Sets are useful for membership tests and eliminating duplicate entries
unique_numbers = {1, 2, 3, 2}
letters = {'a', 'b', 'c', 'a'}

print(unique_numbers, type(unique_numbers))
print('====================================')
print(letters , type(letters ))

{1, 2, 3} <class 'set'>
====================================
{'a', 'c', 'b'} <class 'set'>

In [39]:
 #Adding an integer and a float
x = 5        # int
y = 3.2      # float

# Python automatically converts 'x' to a float before performing the addition
result = x + y




print(x, type(x), '\n')
print('====================================')
print(y, type(y),'\n')
print('====================================')
print(result, type(result))  # Output: 8.2 (float)

5 <class 'int'>

====================================
3.2 <class 'float'>

====================================
8.2 <class 'float'>

In [42]:
a = 23.2
b = int(a)  # Explicit coercion using the int() function

print(b)  # Output: 7 (integer, with the decimal part truncated)
c = str(a)
print(a)
print(type(a))
print(c)
type(c)

23
23.2
<class 'float'>
23.2

str

In [43]:
age = 27
message = "I am " + str(age) + " years old."
print(message)
type(message)

I am 27 years old.

str

In [44]:
x = 2.5 # D√©finit une variable num√©rique x
y = 'my text' # D√©finit une variable en cha√Æne de caract√®res y.

In [46]:
print(dir(x))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [47]:
x.real

2.5

In [48]:
print(dir(y))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [49]:
name = input("Enter your name: ")
print("Hello, " , name)

Enter your name: Fatou Binetou Mbaye
Hello,  Fatou Binetou Mbaye

In [50]:
age = input("Enter your age: ")
print("Hello, " + name + "!")
type(age)

Enter your age: 27
Hello, Fatou Binetou Mbaye!

str

In [51]:
a = input("Hello, \nHow are you?  ") # \n means new line


print("================================== \n")
print(type(a))

Hello,
How are you?  I am fine
==================================

<class 'str'>

In [52]:
try_something = input("Type something here and it will be stored in variable try_something \t")

print("================================== \n")
print(type(try_something))

Type something here and it will be stored in variable try_something 	tdf huy
==================================

<class 'str'>

In [53]:
number = input("Enter number: ")
name = input("Enter name: ")

print("\n")
print("Printing type of a input value")
print("================================== \n")
print("Type of number", type(number))
print("================================== \n")
print("Type of name", type(name))

Enter number: 23
Enter name: fatou


Printing type of a input value
==================================

Type of number <class 'str'>
==================================

Type of name <class 'str'>

In [54]:
expression = input("Enter a mathematical expression: ")
result = eval(expression)
print("The result is:", result)

Enter a mathematical expression: 2*3
The result is: 6

In [55]:
# Write a code to get four numbers:
#Step 1. Multiply first and fourth number
#Step 2. Divide second and third number
#Step3. Add Step 1 and Step 2 outputs.

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))

print("\n")
print("First Number: ", num1)
print("Second Number: ", num2)
print("Third Number: ", num3)
print("Fourth number: ", num4)

result=(num1*num4)+(num2/num3)
print("Final result is: ", result)

Enter first number: 23
Enter second number: 45
Enter third number: 21
Enter fourth number: 2


First Number:  23
Second Number:  45
Third Number:  21
Fourth number:  2
Final result is:  48.142857142857146

In [56]:
# Let‚Äôs see how to accept float value from a user in Python.
# You need to convert user input to the float number using
# the **`float()`** function as we did for the integer value.
float_number = float(input("Enter float number: "))  # converting input value to float
print("\n")
print("input float number is: ", float_number)
print("type is:", type(float_number))

Enter float number: 2.3


input float number is:  2.3
type is: <class 'float'>