# TP1:Practical_1: Variables and Assignments

Exercise 1:
Declare a variable x and assign it the value 10.

In [ ]:
x = 10

Exercise 2: Assign the value True to a variable called is_valid.

In [ ]:
is_valid = True

Exercise 3:Create a string variable name with the value "Python Programming".

In [21]:
name = "Python Programming"

Exercise 4:Assign the result of 5 + 3 to a variable sum_result.

In [5]:
sum_result = 5 + 3

Exercise 5:Assign multiple variables in one line: a = 5, b = 10, c = 15.

In [6]:
a,b,c =(5,10,15)

Exercise 6:Assign the value of one variable x to another variable y

In [11]:
x=12
y=x

Exercise 7:Assign a floating-point number 9.8 to a variable gravity

In [13]:
gravity = 9.8

Exercise 8:Create a variable country and assign it the string value of your favorite country.

In [14]:
country = "Senegal"

Exercise 9:Change the value of variable age from 25 to 26 in two separate steps.

In [17]:
age = 25
age = 26

Exercise 10:Use one variable to store the result of subtracting two numbers 20 - 7.

In [19]:
sub = 20 -7

Exercise 11:Assign an integer value and a floating-point value to two different variables.

In [23]:
x_int = 32
x_float = 32.4

Exercise 12:Assign a boolean value False to a variable is_completed.

In [20]:
is_completed = False

Exercise 13:Swap the values of two variables x and y.

In [25]:
x = 1
y = 2
x = x + y; y = x - y; x = x - y

Exercise 14:Assign a complex number 3 + 4j to a variable complex_num.

In [27]:
complex_num = complex(3, 4)

Exercise 15:Reassign a variable from an integer to a string.

In [ ]:
x = 3
s = str(x)

Exercise 16:Create two variables first_name and last_name, and assign them your first and last names.

In [3]:
first_name =  'Fatou Binetou'
last_name =  'Mbaye'

In [5]:
print(first_name,last_name)

Fatou Binetou Mbaye

Exercise 17:Create a variable temperature and assign it the value of 35.5.

In [6]:
temperature = 35.5

In [7]:
print(temperature)

35.5

Exercise 18:Assign the result of the multiplication of two numbers 8 * 6 to a variable product.

In [8]:
product = 8*6

Exercise 19:Assign a sentence of your choice to a variable sentence.

In [10]:
sentence = 'je suis une femme mari√©e'

Exercise 20:Use an assignment to convert a string '50' into an integer variable int_value.

In [12]:
int_value = int('50')

Exercise 21:Assign the result of dividing 144 by 12 to a variable quotient.

In [17]:
quotient = 144 /12

Exercise 22:Assign the remainder of 47 divided by 5 to a variable remainder.

In [18]:
remainder = ((47/5)*5)-47

Exercise 23:Create a variable is_student and assign it the value True.

In [20]:
is_student = True

Exercise 24:Use a variable to store the result of a modulo operation: 45 % 4.

In [21]:
st = 45 % 4

Exercise 25:Create a variable pi and assign it the value 3.14159.

In [ ]:
pi = 3.14159

Exercise 26:Create two variables length and width, assign them values, and calculate the area of a rectangle.

In [24]:
length = 6
width = 5
area = 6*5

Exercise 27:Assign a negative number to a variable negative_value.

In [25]:
negative_value = -2

Exercise 28:Assign a string containing a special character (e.g., "Hello, World!") to a variable greeting.

In [26]:
greeting = "Hello, World!"

Exercise 29:Create a variable population and assign it a large integer value (in billions).

In [27]:
population = 4556677888876543

Exercise 30:Use a variable to store the result of raising 2 to the power of 8.

In [28]:
p = 2**8

Exercise 31:Assign a list of your favorite fruits to a variable fruits.

In [31]:
fruit = {'apple','orange','banana'}

Exercise 32:Assign a tuple of three numbers to a variable coordinates.

In [33]:
coordinates = {4,5,8}

Exercise 33:Assign a dictionary with keys name and age to a variable person.

In [40]:
person = {'name':["Fatou Binetou","Mbaye"],'age' :[25]}

Exercise 34:Use variables to store the sum of two floating-point numbers.

In [ ]:
a=float(input("first_number="))
b=float(input("first_number="))
result = a + b
print(result)

Exercise 35:Create a variable is_sunny and assign it the result of a comparison 10 > 5.

In [1]:
is_sunny = 10 > 5

Exercise 36:Assign a string and an integer to two different variables, then print both on one line.

In [3]:
name ="Fatou Binetou Mbaye"
age = 27
print(name,age)

Fatou Binetou Mbaye 27

Exercise 37:Reassign a variable that originally held a number to a boolean value.

In [4]:
d=34
d=True
print(d)

True

Exercise 38:Create a variable is_weekend and assign it the result of False.

In [5]:
is_weekend = False

Exercise 39:Assign a multi-line string to a variable description.

In [6]:
description ="""the TP is very long
I have problem of connexion """

Exercise 40:Use variables to store the result of the absolute value of -25.

In [9]:
num = -25
result = abs(num)

Exercise 41:Assign the result of a floor division 100 // 6 to a variable floor_div_result.

In [11]:
floor_div_result =100 // 6

Exercise 42:Assign the result of adding a floating-point number to an integer to a variable mixed_sum.

In [ ]:
mixed_sum = float(input("num_1=")) + int(input("num_2="))
print(mixed_sum)

Exercise 43:Assign a boolean value based on the comparison of two variables a = 10 and b = 15.

In [1]:
a = 10
b = 15
is_greater = a < b
print(is_greater)

True

Exercise 44:Assign a long sentence to a variable and count its characters using len().

In [4]:
long_sent ="I love my family"
len(long_sent)

16

Exercise 45:Assign a fractional result 7 / 3 to a variable division_result.

In [7]:
division_result = 7/3

Exercise 46:Create a variable speed and assign it the value of 100 kilometers per hour.

In [10]:
speed  = "100 km/h"
print(speed)

100 km/h

Exercise 47:Assign a multi-variable equation like y = 3x + 5 where x = 4 to a variable y.

In [14]:
x = 4
y = 3*x + 5

Exercise 48:Use variables to calculate and store the average of three numbers.

In [20]:
num1 = 3
num2 = 3
num3 = 3
average = (num1 + num2 + num3) / 3