# Practical_3: Iterable objects or Containers


### Exercise 1:
Create a list of integers from 1 to 10.

In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [8]:
 my_tuple = ("apple", "banana", "cherry")
print(my_tuple)
type(my_tuple)

('apple', 'banana', 'cherry')

tuple

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [10]:
numbers = [10, 20, 30, 40]
convert = tuple (numbers)
print(convert)

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [11]:
set_c = {1, 2, 3, 4, 5}
type(set_c)

set

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [16]:
student = {'name':"Alice",'age':20,'grade':"A"}
print(student)
type(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

dict

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [17]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1])

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [21]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [24]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [34]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)
#ou
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

In [1]:
rang = range(0,10)
print(rang)
type(rang)

range(0, 10)

range

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [45]:
a = [i**2 for i in range(1,11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [46]:
even = [] 
list_numbers = [2,3,4,5,6,7,8,9,10]

for i in list_numbers :
    if i%2 ==0:
        even.append(i)
even

[2, 4, 6, 8, 10]

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [48]:
fruits = ["apple", "banana", "cherry"]
for i  in fruits :
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [49]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print("la valeur 3 est dans l ensemble")
else:
    print("la valeur 3 n est pas dans l ensemble")

la valeur 3 est dans l ensemble

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [51]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [60]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [16]:
def sum_list(liste):
    summ = 0
    for i in range(len(liste)) :
        summ += liste[i]
    return summ

In [17]:
liste=[80, 85, 90, 95, 100]
sum_list(liste)

450

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [21]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set_u = set(numbers)
print(set_u)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [23]:
string = "hello"
liste = list(string)
print(liste)

['h', 'e', 'l', 'l', 'o']

list

In [26]:
string = ["hello"]#liste d un seul element
string

['hello']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [30]:
def reverse_tuple(liste):
    liste = liste[::-1]
    return liste
liste = (1, 2, 3, 4)
reverse_tuple(liste)

(4, 3, 2, 1)

In [52]:
def reverse_t(liste):#la meme question en utilisant la boucle
    revers=[]
    for i in range(len(liste)):
        revers.append(liste[len(liste)-1-i])
    return revers
reverse_t([1, 2, 3,4, 4,5,7])

[7, 5, 4, 4, 3, 2, 1]

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [66]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [17]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3,"d": 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [18]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [19]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict2.update(dict1)
print(dict2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [32]:
squares = {i: i**2 for i in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [33]:
# Sample dictionary
my_dict = {"a": 1, "b": 2, "c": 3}

# Iterate and print each key-value pair
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [40]:
letters = [chr(i) for i in range(ord('a'), ord('a') + 5)]
print(letters)

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [41]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

combined = list(zip(list1, list2))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [42]:
numbers = [10, 20, 30, 40, 50]
index_50 = numbers.index(50)
print(index_50)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [47]:
names = ["Alice", "Charlie" ,"Bob", "David"]
sorted_names = sorted(names)
print(sorted_names)

['Alice', 'Bob', 'Charlie', 'David']

In [44]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [48]:
def find_largest(numbers):
    if not numbers:
        return None  
    return max(numbers)

In [49]:
nums = [3, 17, 54, 8, 29]
largest = find_largest(nums)
print("Largest number:", largest)

Largest number: 54

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [50]:
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")
print(apple_count)

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [51]:
# Create the dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Access the value of the "city" key
print(person["city"])

New York

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [55]:
def remove_duplicates(input_list):
    return list(set(input_list))
input_list = [1, 2, 2, 3, 4, 4, 5,5,5,1]
unique_list = remove_duplicates(input_list)
print(unique_list)

[1, 2, 3, 4, 5]

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [57]:
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
common = list_intersection(a, b)
print("Intersection:", common)

Intersection: [3, 4]

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [64]:
def square_generator():
    for i in range(1, 11):
        yield i ** 2
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [65]:
def sum_dict_values(my_dict):
    return sum(my_dict.values())
my_dict = {"a": 10, "b": 20, "c": 30}
total = sum_dict_values(my_dict)
print("Sum of values:", total)

Sum of values: 60

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [66]:
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]

In [67]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [69]:
def find_longest_string(strings):
    if not strings:
        return None  # Handle empty list
    return max(strings, key=len)
strings = ["apple", "banana", "cherry", "pineapple"]
longest = find_longest_string(strings)
print("Longest string:", longest)

Longest string: pineapple

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [72]:
list_numbers = [1, 2, 3, 4, 5]
all_positive = all(n > 0 for n in list_numbers)
print(all_positive)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [73]:
squares = [(i, i**2) for i in range(1, 6)]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [74]:
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list]
tuples_list = [(1, 'a'), (2, 'b'), (3, 'c')]
second_elements = get_second_elements(tuples_list)
print(second_elements)

['a', 'b', 'c']

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

`

In [76]:
def flatten_list(llist):
    return [item for sublist in llist for item in sublist]
llist = [[1, 2], [3, 4], [5]]
flat = flatten_list(llist)
print(flat)

[1, 2, 3, 4, 5]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [77]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [78]:
def is_tuple_empty(t):
    return len(t) == 0

# Example usage
my_tuple = ()
if is_tuple_empty(my_tuple):
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [79]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [81]:
def reverse_list(my_list):
    return my_list[::-1]
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)

[5, 4, 3, 2, 1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [82]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [83]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [84]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for item in original_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [85]:
def extract_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]
dict_list = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "city": "New York"}
]

names = extract_values(dict_list, "name")
print(names)

['Alice', 'Bob', 'Charlie']

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [86]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b
for num in fibonacci_generator(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [88]:
def unique_characters(s):
    return list(set(s))
text = "hello world"
unique_chars = unique_characters(text)
print(unique_chars)

['l', 'd', 'e', 'o', 'h', 'r', ' ', 'w']

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [90]:
def merge_sorted_lists(list1, list2):
    merged = []
    i, j = 0, 0

    # Merge elements from both lists in order
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    # Append remaining elements from either list
    merged.extend(list1[i:])
    merged.extend(list2[j:])
    
    return merged
a = [1, 3, 5]
b = [2, 4, 6]
result = merge_sorted_lists(a, b)
print(result)

[1, 2, 3, 4, 5, 6]

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [92]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(odd_numbers)

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [93]:
# List of tuples
tuple_list = [(1, 2), (3, 4), (5, 6)]

# Convert to dictionary
result_dict = dict(tuple_list)

# Print the result
print(result_dict)

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [94]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)
a = {1, 2, 3}
b = {3, 4, 5}
result = symmetric_difference(a, b)
print(result)

{1, 2, 4, 5}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [95]:
def find_common_elements(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

# Example usage
list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

common = find_common_elements(list1, list2, list3)
print("Common elements:", common)

Common elements: [2, 3]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [96]:
def factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers.")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(5))

120

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [1]:
fruits = ["apple", "", "banana", "", "cherry"]
remov_empty_fruits = [fruit for fruit in fruits if fruit != ""]
print(remov_empty_fruits)

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

def swap_dict_keys_values(my_dict):
    swapped_dict = {value: key for key, value in my_dict.items()}
    return swapped_dict

my_dict = {'a': 1, 'b': 2, 'c': 3,'d':4,'e':5}
swapped = swap_dict_keys_values(my_dict)
print(swapped)

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [7]:
def even_numbers(my_list):
    return[num for num in my_list if num % 2==0 ]
my_list = [1,2,3,4,5,6,7,8,9,10]
my_even_list = even_numbers(my_list)
print(my_even_list)

[2, 4, 6, 8, 10]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [9]:
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]

my_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = get_first_elements(my_tuples)
print(first_elements)

[1, 2, 3]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [13]:
def remove_duplicates(my_list):
    ens = set()
    result = []
    for item in my_list:
        if item not in ens:
            ens.add(item)
            result.append(item)
    return result

my_list = [ 2, 2, 3, 1, 4, 3,1,5]
not_duplicate = remove_duplicates(my_list)
print(not_duplicate)

[2, 3, 1, 4, 5]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [2]:
my_list = ["fatou", "binetou", "mbaye"]
lengths = list(map(len, my_list))
print(lengths)

[5, 7, 5]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [6]:
my_list = [10, 20, 30, 40, 50]

if my_list:
    average = sum(my_list) / len(my_list)
    print("The average =", average)
else:
    print("The list is empty.")

The average = 30.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [7]:
def n_fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

# Example usage:
print(n_fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [9]:
fruits = ["apple", "banana", "apple", "cherry"]

count_dict = {}

for f in fruits:
    if f in count_dict:
        count_dict[f] += 1
    else:
        count_dict[f] = 1

# Print the result
print(count_dict)

{'apple': 2, 'banana': 1, 'cherry': 1}

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [10]:
def remove_occ(liste, value):
    return [item for item in liste if item != value]

my_list = ["apple", "banana", "apple", "cherry", "apple"]
value_to_remove = "apple"

filtered_list = remove_occ(my_list, value_to_remove)
print("Updated list:", filtered_list)

Updated list: ['banana', 'cherry']

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [12]:
def starts_vowel(words):
    vowels = ('a', 'e', 'i', 'o', 'u')
    return [word for word in words if word and word[0].lower() in vowels]

words_list = ["apple", "banana", "orange", "pineapple", "fraise"]
vowel_words = starts_vowel(words_list)
print(vowel_words)

['apple', 'orange']

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [13]:
set1 = {"fatou", "binetou", "mbaye","samba"}
set2 = {"binetou", "samba", "papa", "daouda"}

intersection = set1 & set2

print("Intersection:", intersection)

Intersection: {'binetou', 'samba'}

### Exercise 68:
Write a Python function that flattens a nested list.

In [18]:
def flattens_liste(nested_liste):
    flat_list = []
    for item in nested_liste:
        if isinstance(item, list):
            flat_list.extend(flattens_liste(item)) 
        else:
            flat_list.append(item)
    return flat_list

nested = [10, [20, [30, 40], 50], 60, [70, 80]]
flattened = flattens_liste(nested)
print(flattened)

[10, 20, 30, 40, 50, 60, 70, 80]

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [21]:
def all_unique(liste):
    return len(liste) == len(set(liste))


my_list = [1, 2,2, 3, 4, 5]
unik = all_unique(my_list)
print(unik)

False

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [22]:
from functools import reduce

numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)

print("Product of all elements:", product)

Product of all elements: 120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [23]:
def strings_to_length_dict(strings):
    return {s: len(s) for s in strings}

words = ["apple", "banana", "pineapple"]
result = strings_to_length_dict(words)
print(result)

{'apple': 5, 'banana': 6, 'pineapple': 9}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [24]:
def count_vowels(texte):
    vowels = "aeiouAEIOU"
    count = 0
    for char in texte:
        if char in vowels:
            count += 1
    return count

my_input = input("Enter a string: ")
vowel_count = count_vowels(my_input)
print("Number of vowels:", vowel_count)

Enter a string: aaaaaabjhdg
Number of vowels: 6

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [25]:
import math

factorial_tuples = [(n, math.factorial(n)) for n in range(1, 6)]
print(factorial_tuples)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [26]:
def merge_dicts(dict_list):
    merged = {}
    for d in dict_list:
        merged.update(d)
    return merged

dicts = [{"a": 1}, {"b": 2}, {"c": 3}, {"a": 4}]
result = merge_dicts(dicts)
print(result)

{'a': 4, 'b': 2, 'c': 3}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [27]:
def is_subset(subset, superset):
    return subset.issubset(superset)

set_a = {1, 2}
set_b = {1, 2, 3, 4}

print("Is set_a a subset of set_b?", is_subset(set_a, set_b))

Is set_a a subset of set_b? True

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [28]:
data = [("date", 3), ("banana", 1), ("cherry", 2)]

sorted_data = sorted(data, key=lambda x: x[1])

# Print the result
print("Sorted list:", sorted_data)

Sorted list: [('banana', 1), ('cherry', 2), ('date', 3)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [29]:
def get_positive_integers(numbers):
    return [num for num in numbers if num > 0]

sample_list = [-5, 0, 3, -1, 7, -2, 10]
positive_numbers = get_positive_integers(sample_list)
print("Positive integers:", positive_numbers)

Positive integers: [3, 7, 10]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [30]:
def union_sets(set1, set2):
    return set1.union(set2)

a = {1, 2, 3}
b = {3, 4, 5}
result = union_sets(a, b)
print("Union of sets:", result)

Union of sets: {1, 2, 3, 4, 5}

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [31]:
from functools import reduce

def product_of_list(numbers):
    return reduce(lambda x, y: x * y, numbers, 1)

nums = [2, 3, 4]
result = product_of_list(nums)
print("Product of all numbers:", result)

Product of all numbers: 24

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [32]:
def list_to_string(char_list):
    return ''.join(char_list)

characters = ['H', 'e', 'l', 'l', 'o']
result = list_to_string(characters)
print("Converted string:", result)

Converted string: Hello

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [33]:
def second_largest(numbers):
    if len(numbers) < 2:
        return None  
    unique_numbers = list(set(numbers))  
    unique_numbers.sort(reverse=True)    
    return unique_numbers[1]             

nums = [10, 5, 20, 8, 20, 3]
result = second_largest(nums)
print("Second largest number:", result)

Second largest number: 10

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [34]:
def sorted_keys(d):
    return sorted(d.keys())

sample_dict = {"banana": 3, "apple": 5, "cherry": 2}
result = sorted_keys(sample_dict)
print("Sorted keys:", result)

Sorted keys: ['apple', 'banana', 'cherry']

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [36]:
from collections import Counter

def most_common_element(lst):
    if not lst:
        return None  
    counter = Counter(lst)
    return counter.most_common(1)[0][0]  

numbers = [4, 1, 2, 2, 3, 4, 4, 5]
result = most_common_element(numbers)
print("Most common element:", result)

Most common element: 4

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [37]:
def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])


data = [(3, 'apple'), (1, 'banana'), (2, 'cherry')]
sorted_data = sort_by_first_element(data)
print("Sorted tuples:", sorted_data)

Sorted tuples: [(1, 'banana'), (2, 'cherry'), (3, 'apple')]

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [39]:
def remove_duplicates(dict_list):
    seen = set()
    unique_dicts = []
    for d in dict_list:
      
        dict_tuple = tuple(sorted(d.items()))
        if dict_tuple not in seen:
            seen.add(dict_tuple)
            unique_dicts.append(d)
    return unique_dicts


data = [
    {"name": "fatou", "age": 27},
    {"age": 27, "name": "fatou"},  
    {"name": "Bob", "age": 25},
    {"name": "fatou", "age": 27}   
]

result = remove_duplicates(data)
print("Unique dictionaries:", result)

Unique dictionaries: [{'name': 'fatou', 'age': 27}, {'name': 'Bob', 'age': 25}]

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [40]:
def find_min_max(numbers):
    if not numbers:
        return None, None  
    return min(numbers), max(numbers)


nums = [4, 1, 9, -3, 7]
minimum, maximum = find_min_max(nums)
print("Minimum:", minimum)
print("Maximum:", maximum)

Minimum: -3
Maximum: 9

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [41]:
def create_tuples(list1, list2):
    return list(zip(list1, list2))

names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]

paired_list = create_tuples(names, scores)
print("List of tuples:", paired_list)

List of tuples: [('Alice', 85), ('Bob', 92), ('Charlie', 78)]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [42]:
def reverse_strings(string_list):
    return [s[::-1] for s in string_list]


words = ["hello", "world", "python"]
reversed_words = reverse_strings(words)
print("Reversed strings:", reversed_words)

Reversed strings: ['olleh', 'dlrow', 'nohtyp']

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [43]:
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)


nums = [1, 2, 3, 4, 5, 6, 7]
result = sum_of_odds(nums)
print("Sum of odd numbers:", result)

Sum of odd numbers: 16

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [44]:
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)


nums = [1, 2, 3, 4, 5, 6, 7]
result = sum_of_odds(nums)
print("Sum of odd numbers:", result)

Sum of odd numbers: 16

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [45]:
def find_median(numbers):
    if not numbers:
        return None  
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)
    mid = n // 2

    if n % 2 == 0:
        
        median = (sorted_numbers[mid - 1] + sorted_numbers[mid]) / 2
    else:
        
        median = sorted_numbers[mid]
    
    return median

data = [7, 3, 1, 4, 9]
result = find_median(data)
print("Median:", result)

Median: 4

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [46]:
def sum_values_by_key(dict_list):
    total_dict = {}
    for d in dict_list:
        for key, value in d.items():
            total_dict[key] = total_dict.get(key, 0) + value
    return total_dict


data = [
    {"apples": 10, "bananas": 5},
    {"apples": 3, "oranges": 8},
    {"bananas": 2, "oranges": 4}
]

result = sum_values_by_key(data)
print("Total values by key:", result)

Total values by key: {'apples': 13, 'bananas': 7, 'oranges': 12}

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [47]:
from collections import Counter

def find_mode(numbers):
    if not numbers:
        return None  
    counter = Counter(numbers)
    max_count = max(counter.values())
    modes = [num for num, count in counter.items() if count == max_count]
    
    return modes[0] if len(modes) == 1 else modes


data = [4, 1, 2, 2, 3, 4, 4, 5, 2]
result = find_mode(data)
print("Mode:", result)

Mode: [4, 2]

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [49]:
def sum_of_squares(numbers):
    return sum(num ** 2 for num in numbers)

data = [1, 2, 3, 4]
result = sum_of_squares(data)
print("Sum of squares:", result)

Sum of squares: 30

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [50]:
def generate_cubes(n):
    return [(x, x**3) for x in range(1, n+1)]

result = generate_cubes(5)
print("Number and its cube:", result)

Number and its cube: [(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [51]:
def get_primes_up_to(n):
    if n < 2:
        return []
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for divisor in range(2, int(num ** 0.5) + 1):
            if num % divisor == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

print("Primes up to 20:", get_primes_up_to(20))

Primes up to 20: [2, 3, 5, 7, 11, 13, 17, 19]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [52]:
def common_keys(dict1, dict2):
    return list(dict1.keys() & dict2.keys())

a = {"name": "Alice", "age": 30, "city": "Paris"}
b = {"name": "Bob", "age": 25, "country": "France"}

result = common_keys(a, b)
print("Common keys:", result)

Common keys: ['name', 'age']

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [53]:
def filter_long_strings(strings):
    return [s for s in strings if len(s) > 5]

words = ["apple", "banana", "kiwi", "strawberry", "fig", "grapes"]
result = filter_long_strings(words)
print("Strings with more than 5 characters:", result)

Strings with more than 5 characters: ['banana', 'strawberry', 'grapes']

## Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [54]:
def strings_with_lengths(string_list):
    return [(s, len(s)) for s in string_list]

words = ["apple", "banana", "kiwi", "strawberry"]
result = strings_with_lengths(words)
print("List of tuples:", result)

List of tuples: [('apple', 5), ('banana', 6), ('kiwi', 4), ('strawberry', 10)]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [55]:
def sum_values_across_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

data = [
    {"a": 5, "b": 3},
    {"a": 2, "c": 7},
    {"b": 4, "c": 1, "d": 6}
]

summed = sum_values_across_dicts(data)
print("Summed dictionary:", summed)

Summed dictionary: {'a': 7, 'b': 7, 'c': 8, 'd': 6}